
/* CSS Tic Tac Toe Game*/

.square {
  height: 64px;
  width: 64px;
  font-size: 54px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  text-align: center;
  padding: 0;
  line-height: 64px;
  margin-right: -1px;
  margin-top: -1px;
}

.Xsquare {
  color: rgb(65, 107, 197);
}

.Osquare {
  color: crimson;
}

.board {
  display: table;
  padding-right: 20px;
}
.game {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}

.status {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.info {
  color: #191c1fee;
  font-weight: 700;
  padding-right: 20px;
  background-color: #f1f1f1;
  border-style: groove;
  border-color: #f8f5f8;
  text-decoration-style: none;
}
ul {
  list-style-type: none;
}